PORT=4000
FABRIC_CHANNEL_NAME=mychannel
FABRIC_CHAINCODE_IDENTITY=identity
FABRIC_CHAINCODE_ASSET=asset
FABRIC_CHAINCODE_ACCESS=access-control
FABRIC_MSP_ID=Org1MSP
FABRIC_CRYPTO_PATH=../fabric-network/organizations/peerOrganizations/org1.example.com
